<div class="results-block">
  <%= render 'layouts/messages' %>
</div>

<% if @stock %>
  <div class="card card-header results-block">
    <strong>Symbol:</strong> <%= @stock.ticker %> <br /><br />
    <strong>Name:</strong> <%= @stock.name %> <br /><br />
    <strong>Price:</strong> <%= @stock.last_price %>
  </div>
<% end %>
